<div>
  <style>
    .footer {
      padding: 3rem 0;
    }
  </style>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        Have any questions? Email <span> <a href="mailto:support@tutopoint.com?subject=About%20Tutopoint"
                target="_top">support@tutopoint.com</a> </span>.
      </p>
      <p> Made with love by Jason, Lucas, Titor, and Ziz. </p>
    </div>
  </footer>
</div>
