<!-- MODALS -->
<script type="text/javascript" src="/js/modals.js"></script>

<div id="loginModal" class="modal">
  <div class="modal-background" onclick="hideModal()"></div>
  <div class="modal-content">
    <form method="post" action="/login">
      <div class="card center-items modal-card-c">
        <h1>Login</h1>
        <div class="field">
          <div class="control">
            <input class="input" name="email" type="email" placeholder="Email">
          </div>
        </div>
        <div class="field">
          <div class="control">
            <input class="input" name="password" type="password" placeholder="Password">
          </div>
          <p class="help is-danger">{{loginError}}</p>
        </div>
        <button type="submit" class="button">
          <strong>Log in</strong>
        </button>
        <p>Don't have an account? <a onclick="show('registerModal')" class="is-primary">Sign Up</a></p>
        <p><a onclick="show('resetModal')" class="is-primary">Forgot Password?</a></p>
      </div>
      <input class="login-modal-redirect" name="redirectTo" type="hidden" value="/dashboard">
    </form>
    <button onclick="hideModal()" class="modal-close is-large" aria-label="close"></button>
  </div>
</div>

<!--register modal-->
<div id="registerModal" class="modal">
  <div class="modal-background" onclick="hideModal()"></div>
  <div class="modal-content">
    <form method="post" action="/signup">
      <div class="card center-items modal-card-c">
        <h1>Register</h1>
        <div class="field">
          <div class="control">
            <input id="registerModalEmail" class="input" name="email" type="email" placeholder="Email">
          </div>
        </div>
        <div class="field">
          <div class="control">
            <input class="input" name="name" type="text" placeholder="Name">
          </div>
        </div>
        <div class="field">
          <div class="control">
            <input id="registerModalPassword" class="input" name="password" type="password"
                placeholder="Password" oninput="checkPasswordMatch(this)">
          </div>
        </div>
        <div class="field">
          <div class="control">
            <input id="registerModalConfirmPassword" class="input" type="password"
                placeholder="Confirm Password" oninput="checkPasswordMatch(this)">
          </div>
        </div>
        <p id="confirmPasswordError" class="has-text-danger">
          * Passwords do not match
        </p>
        <div class="field">
          <div class="control">
            <input class="input" name="referralCode" type="text" placeholder="Referral Code (Optional)">
          </div>
        </div>
        <input class="input" type="hidden" name="userType" value="client">
        <button class="button">
            <strong>Register</strong>
        </button>
        <p>Already have an account? <a onclick="show('loginModal')" class="is-primary">Log in</a></p>
      </div>
      <input class="register-modal-redirect" name="redirectTo" type="hidden" value="/dashboard">
    </form>
    <button onclick="hideModal()" class="modal-close is-large" aria-label="close"></button>
  </div>
</div>

<!--reset password modal-->
<div id="resetModal" class="modal">
  <div class="modal-background" onclick="hideModal()"></div>
  <div class="modal-content">
    <form method="post" action="/reset">
      <div class="card center-items modal-card-c">
        <h1>Reset Password</h1>
        <div class="field">
          <label class="label">Please enter your email</label>
          <div class="control">
            <input class="input" name="email" placeholder="email">
          </div>
        </div>
        <input class="input" type="hidden" name="userType" value="client">
        <button type="submit" class="button">
          <strong>submit</strong>
        </button>
        <p><a onclick="show('loginModal')" class="link">Back to login</a></p>
      </div>
    </form>
    <button onclick="hideModal()" class="modal-close is-large" aria-label="close"></button>
  </div>
</div>
