<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>About Us</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/css/bulma.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
  <link rel="stylesheet" href="/css/aboutUs.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"/>
</head>
<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <figure class="icon is-1by1">
          <img src="https://tutopoint-img-bucket.s3-us-west-2.amazonaws.com/tutologo.png" alt="TUTOPOINT" width="330px"
            height="330px">
        </figure>
        TUTOPOINT
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="/guides" style="margin-right: 6%; font-size: 20px;">Our Guides</a>
        <a class="navbar-item" href="/about" style="margin-right: 6%; font-size: 20px;">About Us</a>
        <a class="navbar-item" href="/mission" style="margin-right: 6%; font-size: 20px;">Mission</a>
        <button class="button is-danger is-rounded top-button" href="/signup" style="margin: 12px 8px 12px 8px;">Sign up</button>
        <button class="button is-danger is-rounded top-button" href="/login" style="margin: 12px 20% 12px 8px;">Log in</button>
      </div>
    </div>
  </div>
  </nav>



  <div id="about" class="image is-3by1 big-banner"
    style="margin-bottom: 1em;"></div>

  <div class="container ">
    <p class="is-size-2 has-text-centered" style="margin: 30px 0 30px 0;"> About Us </p>
    <p class="is-size-4 about-text"> TutoPoint is a digital college consulting platform
       designed to make your life easier. We take a innovative and fresh style of college consulting
       to the table: </p>
  </div>
  <div class="main-panel columns">
    <div class="column">
      <img src="/images/collegeStudents.png">
    </div>
    <div class="column">
      <p class="is-size-4" style="vertical-align: middle;"> Our guides are all current college undergraduates at the nations
         top universities studying highly competitive majors. They understand the struggle
         because a couple years ago they were in your same exact position, and they know how to get
          you in because they got themselves in.  </p>
    </div>
  </div>
</body>
<span> <a href="/mission"> our mission statement. </a> </span>

</html>
