<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>About Us</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/css/bulma.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"/>
</head>
<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <figure class="icon is-1by1">
          <img src="https://tutopoint-img-bucket.s3-us-west-2.amazonaws.com/tutologo.png" alt="TUTOPOINT" width="330px"
            height="330px">
        </figure>
        TUTOPOINT
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="/guides" style="margin-right: 6%; font-size: 20px;">Our Guides</a>
        <a class="navbar-item" href="/about" style="margin-right: 6%; font-size: 20px;">About Us</a>
        <a class="navbar-item" href="/mission" style="margin-right: 6%; font-size: 20px;">Mission</a>
        <button class="button is-danger is-rounded top-button" href="/signup" style="margin: 12px 8px 12px 8px;">Sign up</button>
        <button class="button is-danger is-rounded top-button" href="/login" style="margin: 12px 20% 12px 8px;">Log in</button>
      </div>
    </div>
  </div>
  </nav>

  <section>
    <div class="container ">
      <h1 id="about" class="is-size-1 has-text-centered has-text-weight-bold has-text-grey-darker"
        style="margin-top: 1em; margin-bottom: 1em;"> About us </h1>
      <p class="has-text-justified is-size-5"> TutoPoint was started by two brothers, Ziz and Jason Cheng. Ziz is a
        freshman at UC Berkeley studying computer science while Jason is a freshman in high school in Seattle
        Washington. Jason was lucky to have an older brother guide him through the complexity of figuring out what best
        to do in high school to maximize his chances of getting into a good university, but both Ziz and Jason felt that
        this guidance should be available to more high school students.
        <br> So together, with some of Ziz’s good friends in high school, they started TutoPoint LLC, the first direct
        communications platform between college and high school students. We want to break the existing barriers of high
        school students not understanding college life, and so we asked our friends and a lot of people wanted to
        participate! Read more about our guides on <span> <a href="/mission"> our mission statement. </a> </span> </p>
    </div>
  </section>
</body>

</html>
