<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Tutopoint</title>
  <link rel="stylesheet" href="./css/bulma.min.css">
  <link rel="stylesheet" href="./css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

  <section class="hero is-fullheight">
<!-- Hero head: will stick at the top -->
<div class="hero-head">
  <header class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <span class="navbar-burger burger" data-target="navbarMenuHeroC">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenuHeroC" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
              TutoPoint

            </a>

          </div>
        <div class="navbar-end">
          <span class="navbar-item">
            <a class="button has-background-dark has-text-white" href="/login">
              <span>Sign in</span>
            </a>
          </span>
        </div>
      </div>
    </div>
  </header>
</div>

<!-- Hero content: will be in the middle -->
<div class="hero-body">
  <div class="container columns-wrapper">
    <div class="columns">
      <div class="column is-half signup guide-signup">
        <h1 class="is-size-3 has-text-centered"> Apply to become a guide! </h1>
        <div class="card">
            <div class="card-content">
              <form method="post" action="/admin/guide/register">
                <div class="select guide-userType">
                  <select>
                    <option value="client">Customer</option>
                    <option value="guide" selected>Guide</option>
                  </select>
                </div>
                <div class="field">
                  <label class="label">Email</label>
                  <div class="control">
                    <input class="input" type="email" name="email">
                  </div>
                </div>
                <div class="field">
                  <label class="label">Name</label>
                  <div class="control">
                    <input class="input" type="text" name="name">
                  </div>
                </div>
                <div class="field">
                  <label class="label">University</label>
                  <div class="control">
                    <input class="input" type="text" name="university">
                  </div>
                </div>
                <div class="field">
                  <label class="label">Grade Level</label>
                  <div class="control is-expanded">
                    <div class="select is-fullwidth">
                      <select name="grade">
                        <option value="Freshman">Freshman</option>
                        <option value="Sophmore">Sophmore</option>
                        <option value="Junior">Junior</option>
                        <option value="Senior">Senior</option>
                        <option value="Masters">Masters</option>
                        <option value="PhD">PhD</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="field">
                  <label class="label">Major</label>
                  <div class="control">
                    <input class="input" type="text" name="major">
                  </div>
                </div>

              <div class="field">
                <label class="label">Password</label>
                <div class="control">
                  <input class="input" type="password" name="password">
                </div>
              </div>
              <div class="field">
                <label class="label">Confirm password</label>
                <div class="control">
                  <input class="input" type="password">
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <input class="input" type="submit">
                </div>
              </div>

              <input type="hidden" name="userType" value="guide" />
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Hero footer: will stick at the bottom -->
<div class="hero-foot">
</div>
</section>
<script>
$(".guide-userType").change(function(){
  $(".guide-signup").hide();
  $(".client-signup").show();
  $(".client-userType").val("guide");
});
</script>
</body>
</html>
