<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/bulma.css">
    <link rel="stylesheet" href="/css/signup.css">
  </head>
  <body>
    <div class="wrapper">
      <img class="icon" src="/images/mail-icon.png"/>
      <h3 class="login-title">Please check your email for a verification link.</h3>
      <h3 style="margin-bottom: 2em;">It might be in junk mail</h3>
      <a href="/" class="button">To Login</a>
    </div>
  </body>
</html>
