<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/bulma.css">
    <link rel="stylesheet" href="/css/login.css">
  </head>
  <body>
    <div class="wrapper">
      <p class="is-size-1 help is-danger">{{cannotCreateError}}</p>
      {{#unless cannotCreateError}}
      <div class="form-content">
        <h3 class="title login-title">Referral Code</h3>
        <form method="post" action="/referral/create">
          <div class="field">
            <label class="label">Generate your own referral code</label>
            <div class="control">
              <input class="input" name="code">
            </div>
            <p class="help is-danger">{{duplicateError}}</p>
          </div>
          <div class="control">
            <button class="button is-primary">Submit</button>
          </div>
        </form>
      </div>
      {{/unless}}
    </div>
  </body>
</html>
