<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link rel="stylesheet" href="/css/bulma.min.css">
    <link rel="stylesheet" href="/css/document.css">

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  </head>
  <body>
    <div class="chat-container column">
      <div id="editor">

      </div>
    </div>
    <button onclick="saveDoc()">Save Document</button>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var doc_id = "{{doc_id}}";
      var doc_text  = String.raw`{{{doc_text}}}`;
    </script>
    <script>
      const socket = io();

      var quill = new Quill('#editor', {
        theme: 'snow'
      });

      console.log(doc_text);
      quill.setContents(JSON.parse(doc_text));

      quill.on('text-change', function(delta, oldDelta, source) {
        if (source === 'user') {
          socket.emit('text change', {'who': socket.id, 'doc_id': doc_id, 'delta': JSON.stringify(delta)});
        }
      });

      socket.on('text change', function(msg){
        if(msg.who != socket.id) {
          var del = JSON.parse(msg.delta);
          quill.updateContents(del, msg.who);
        }
      });
      socket.on("msg", function(msg){
        console.log(msg);
      });

      socket.emit("join document room",doc_id);

      function saveDoc()
      {
        var delta = quill.getContents();
        console.log(delta);
        $.post("/document/" + doc_id, {text: JSON.stringify(delta)});
      }
    </script>
  </body>
</html>
