<!DOCTYPE html>
  <html lang = "en">
    <body>
      <p>
        <label>Student name (first/last)</label>
        <input type = "text"
               id = "name"
               placeholder = "ex. Kevin Wang" />
      </p>
      <p>
        <label>Location</label>
        <input type = "text"
               id = "location"
               placeholder = "ex. Seattle, Washington" />
      </p>
      <p>
        <label>Grade level</label>
        <select id="grade">
          <option value="below">Not yet in high school (8th grade or below)</option>
          <option value="freshman">Freshman (9th grade)</option>
          <option value="sophomore">Sophomore (10th grade)</option>
          <option value="junior">Junior (11th grade)</option>
          <option value="senior">Senior (12th grade)</option>
          <option value="titor">Graduated High School/Other</option>
        </select>
      </p>
      <p>
        <label>Intended College</label>
        <input type = "text"
               id = "intcollege"
               placeholder = "Pomona, UNC, Dartmouth, UChicago" />
      </p>
      <p>
        <label>Intended Major</label>
        <input type = "text"
               id = "intmajor"
               placeholder = "Econ, Data Science, Bioenginnering, Undecided" />
      </p>
      <p>
        <style>
            label textarea {
                vertical-align: top;
            }
        </style>
        <label>Tell your guides a little about yourself!
        <textarea id = "bio"
                rows = "5"
                cols = "60"
                placeholder="Hi! My name is Kevin, I enjoy tennis, anime, and league. I look forward to meeting you!"></textarea>
        </label>
      </p>
      <div action="uh jason idk what goes here plz helps">
        <input type="submit" value="Submit" />
      </div>
    </body>
  </html>
