<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tutopoint</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/bulma.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/navbar.css">
  </head>

  <!-- nav bar -->
  <header>
    <div class="nav-shadow">
      <div class="mcontainer">
        <nav class="top-nav">
            <div class="left-nav">
              <img src="https://tutopoint-img-bucket.s3-us-west-2.amazonaws.com/tutologo.png" alt="logo" class="logo">
              <h2>TUTOPOINT</h2>
            </div>

            <ul class="right-nav">
              <li><a href="/login">Our Guides</a></li>
              <li><a href="/dashboard">About Us</a></li>
              <li><a href="/dashboard">Mission</a></li>
              <li><a href="/dashboard">Log in</a></li>
            </ul>
        </nav>
      </div>
    </div>
  </header>

  <body>


<div class="main-display">
  <div class="columns">
    <div class="column is-four-fiths">

    </div>
    <div class="column">
      <div class="container">
        <p>???</p>
      </div>
    </div>
  </div>
  
</div>

<section class="why-section">
  <div class="divider"></div>
  <div class="why-container">
    <h1 class="why-title title">Why Tutopoint</h1>
    <div class="why-wrapper columns">
      <div class="why-column column">
        <div class="card why-card">
          <div class="card-content"><h1 class="title">Cheap</h1></div>
          <div class="card-content">
            <span class="why-icon icon has-text-primary">
              <i class="fas fa-yen-sign"></i>
            </span>
          </div>
          <div class="why-card-description card-content">
            Tutopoint provides the cheapest plans you will find anywhere, starting at $15 per session.
          </div>
        </div>
      </div>
      <div class="why-column column">
          <div class="card why-card">
            <div class="card-content"><h1 class="title">Online</h1></div>
            <div class="card-content">
              <span class="why-icon icon has-text-primary">
                <i class="fas fa-laptop"></i>
              </span>
            </div>
            <div class="why-card-description card-content">
              Tutopoint brings college counseling right to your home with
              online sessions. There is no need to fuss about driving somewhere.
            </div>
          </div>
        </div>
      <div class="why-column column">
        <div class="card why-card">
          <div class="card-content"><h1 class="title">Safe</h1></div>
          <div class="card-content">
            <span class="why-icon icon has-text-primary">
              <i class="fas fa-lock"></i>
            </span>
          </div>
          <div class="why-card-description card-content">
            We do extensive background checks to ensure that all counselors are authentic college students.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  </body>
</html>
