<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

    <meta charset="utf-8">
    <title>Tutopoint</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/bulma.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" />

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>


</head>

<body>
    <div class="custom-container">

        <!--nav bar-->
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="https://bulma.io">
                    <img src="/images/logo.png">
                </a>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu is-active">
                <div class="navbar-end">
                    <div class="navbar-item">
                        <a class="nav-link">
                            Our Guides
                        </a>
                    </div>
                    <div class="navbar-item">
                        <a class="nav-link">
                            About Us
                        </a>
                    </div>
                    <div class="navbar-item">
                        <a class="nav-link">
                            Mission
                        </a>
                    </div>
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-medium">
                                <strong>Sign up</strong>
                            </a>
                            <a class="button is-medium">
                                <strong>Login</strong>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>


    </div>

    <!--background image-->
    <div class="bg-section">

        <div class="custom-container">
            <div class="columns display">

                <!--bg image-->
                <div class="column">
                    <img src="/images/kid.png" />
                </div>

                <!--motto and register box-->
                <div class="column center-items">

                    <p class="motto">Don't let COVID-19 hold you back. Online college consulting with authentic college
                        students</p>

                    <div class="card">
                        <div class="card-content center-items">
                            <h1 class="register-box-heading">Lets get started</h1>

                            <!--Register Form-->
                            <div class="field">
                                <div class="control">
                                    <input class="input display-field" name="email" type="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input class="input display-field" name="password" type="password"
                                        placeholder="Password">
                                </div>
                            </div>
                            <button type="submit" class="button">
                                <strong>Sign Up</strong>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="custom-container center-items">
        <h2 class="carousel-title">
            Meet our guides
        </h2>

        <div class="carousel">
            <div class="card">
                <div class="card-image">
                    <figure class="backdrop image is-2by1">
                        <img src="/images/berkeley.jpg">
                    </figure>
                    <figure class="profilePicture image is-128x128">
                        <img class="is-rounded" style="border: solid 1px black;width: 100%;height: 100%;"
                            src="/images/zizcheng.jpg">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media-content">
                        <p class="title is-4 has-text-centered no-margin-bottom">zizheng cheng</p>
                        <p class="title is-5 has-text-centered no-margin-bottom">uc berkeley</p>
                        <p class="title is-6 has-text-centered no-margin-bottom">computer science</p>
                    </div>
                </div>
                <footer class="card-footer">
                    <a href="/signup" class="card-footer-item">schedule</a>
                </footer>
            </div>

            <div class="card">
                <div class="card-image">
                    <figure class="backdrop image is-2by1">
                        <img src="/images/princeton.png">
                    </figure>
                    <figure class="profilePicture image is-128x128">
                        <img class="is-rounded" style="border: solid 1px black;width: 100%;height: 100%;"
                            src="/images/cheyennezhang.jpg">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media-content">
                        <p class="title is-4 has-text-centered no-margin-bottom">cheyenne zhang</p>
                        <p class="title is-5 has-text-centered no-margin-bottom">princeton university</p>
                        <p class="title is-6 has-text-centered no-margin-bottom">computer science</p>
                    </div>
                </div>
                <footer class="card-footer">
                    <a href="/signup" class="card-footer-item">schedule</a>

                </footer>
            </div>

            <div class="card">
                <div class="card-image">
                    <figure class="backdrop image is-2by1">
                        <img src="/images/harvard.jpg">
                    </figure>
                    <figure class="profilePicture image is-128x128">
                        <img class="is-rounded" style="border: solid 1px black;width: 100%;height: 100%;"
                            src="/images/jenniferhong.png">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media-content">
                        <p class="title is-4 has-text-centered no-margin-bottom">jennifer hong</p>
                        <p class="title is-5 has-text-centered no-margin-bottom">harvard university</p>
                        <p class="title is-6 has-text-centered no-margin-bottom">chemical & physical biology</p>
                    </div>
                </div>
                <footer class="card-footer">
                    <a href="/signup" class="card-footer-item">schedule</a>

                </footer>
            </div>
        </div>
    </div>
</body>

</html>