<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tutopoint</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="./css/bulma.css">
    <link rel="stylesheet" href="./css/index.css">
  </head>
  <body>
<nav class="navbar is-fixed-top">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">Tutopoint</a>
  </div>
  <div class="navbar-end">
    <div class="navbar-item">
      <a class="button is-light" href="/login">
        Log in
      </a>
    </div>
  </div>
</nav>

<section class="form-section">
  <div class="form-container">
    <form method="post" action="/signup">

      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input class="input" name="email" type="email">
        </div>
      </div>

      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input class="input" name="name" type="text">
        </div>
      </div>

      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input class="input" name="password" type="password">
        </div>
      </div>
      <input class="input" type="hidden" name="userType" value="client">
      <div class="control">
        <button class="button is-primary">Submit</button>
      </div>
    </form>
  </div>
</section>
  </body>
</html>
