<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bulma.css">
  <link rel="stylesheet" href="/css/signup.css">
</head>

<header>

  <nav class="navbar shadow" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <figure class="icon is-1by1">
          <img src="https://tutopoint-img-bucket.s3-us-west-2.amazonaws.com/tutologo.png" alt="TUTOPOINT" width="330px"
            height="330px">
        </figure>
        TUTOPOINT
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="/signup">Sign up</a>
        <a class="navbar-item" href="/login">Log in</a>
      </div>
    </div>
  </nav>
</header>

<body>
  <div class="wrapper">
    <div class="form-content card">
      <h3 class="title login-title">Reset Password</h3>
      <form method="post">
        <div class="field">
          <label class="label">Please enter your email</label>
          <div class="control">
            <input class="input" name="email" type="email">
          </div>
        </div>
        <p class="has-text-danger"> {{error}} </p>
        <input class="input" type="hidden" name="userType" value="client">
        <div class="control">
          <button class="button is-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</body>

</html>
