<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/css/bulma.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
  <link rel="stylesheet" href="/css/aboutUs.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"/>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>

  {{> modals }}

  {{> navbar }}

  <section>
    <div class="container mission-text-wrapper">
      <h1 id="mission" class="is-size-1 has-text-centered has-text-weight-bold has-text-grey-darker"
        style="margin-top: 1em; margin-bottom: 1em;"> Our mission </h1>
      <p class="is-size-5"> TutoPoint’s mission is to bridge the gap between college and high school
        students. What actually happens inside the classrooms, the dorms, and the cafeterias of top American universities
        remains largely unknown to prospective students.
        <br><br>That is why our guides are 100% current, real time college
        students. Sessions with our guides help open the once closed doors of prestigious American universities and
        allows clients to peek into what life is like as a college student. In fact, some of the sessions scheduled with
        our guides take place in between their classes!
        <br><br> Our guides span all top American Universities (Harvard, Yale, Princeton, etc) and study a wide range of
        popular majors (Computer Science, Business, Biology, Economics, etc). Beyond college consulting and
        questions about applying to these prestigious universities, our sessions offer a warm, welcoming and completely
        stress-free environment to engage in conversation about all aspects of college life.
        <br><br> At TutoPoint, you will feel at home at your dream university before you even arrive. </p>
    </div>
  </section>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script type="text/javascript" src="/js/index.js"></script>
</body>
{{> footer }}
</html>
