<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>About Us</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/css/bulma.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
  <link rel="stylesheet" href="/css/aboutUs.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"/>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <!--
      login modal
      use JS to toggle the is-active class on the div
  -->
  <div id="loginModal" class="modal">
      <div class="modal-background"></div>
      <div class="modal-content">
          <form method="post" action="/login">
              <div class="card login">
                  <h1>Login</h1>
                  <div class="field">
                      <div class="control">
                          <input class="input" name="email" type="email" placeholder="Email">
                      </div>
                  </div>
                  <div class="field">
                      <div class="control">
                          <input class="input" name="password" type="password" placeholder="Password">
                      </div>
                  </div>
                  <button type="submit" class="button is-primary">
                      <strong>Log in</strong>
                  </button>
                  <p>Don't have an account? <a onclick="show('registerModal')" class="is-primary">Sign Up</a></p>
                  <p><a onclick="show('resetModal')" class="is-primary">Forgot Password?</a></p>
          </form>
      </div>
      <button onclick="hideModal()" class="modal-close is-large" aria-label="close"></button>
  </div>
  </div>

  <!--register modal-->
  <div id="registerModal" class="modal">
      <div class="modal-background"></div>
      <div class="modal-content">
          <form method="post" action="/signup">
              <div class="card login">
                  <h1>Register</h1>
                  <div class="field">
                      <div class="control">
                          <input class="input" name="email" type="email" placeholder="Email">
                      </div>
                  </div>
                  <div class="field">
                      <div class="control">
                          <input class="input" name="name" type="text" placeholder="Name">
                      </div>
                  </div>
                  <div class="field">
                      <div class="control">
                          <input class="input" name="password" type="password" placeholder="Password">
                      </div>
                  </div>
                  <div class="field">
                      <div class="control">
                          <input class="input" name="referralCode" type="text" placeholder="Referral Code (Optional)">
                      </div>
                  </div>
                  <input class="input" type="hidden" name="userType" value="client">
                  <button class="button is-primary">
                      <strong>Register</strong>
                  </button>
          </form>
          <p>Already have an account? <a onClick="show('loginModal')" class="is-primary">Log in</a></p>
      </div>
      <button onclick="hideModal()" class="modal-close is-large" aria-label="close"></button>
  </div>
  </div>

  <!--reset password modal-->
  <div id="resetModal" class="modal">
      <div class="modal-background"></div>
      <div class="modal-content">
          <div class="card login">
              <h1>reset password</h1>
              <form method="post" action="/reset">
                  <div class="field">
                      <label class="label">Please enter your email</label>
                      <div class="control">
                          <input class="input" name="email" placeholder="email">
                      </div>
                  </div>
                  <input class="input" type="hidden" name="userType" value="client">
                  <button type="submit" class="button is-primary">
                      <strong>submit</strong>
                  </button>
                  </a>
              </form>
              <p><a class="link">back to login</a></p>
              <p><a class="link">forgot password?</a></p>
          </div>
          <button onclick="hideModal()" class="modal-close is-large" aria-label="close"></button>
      </div>
  </div>
  <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container">
          <div class="navbar-brand">
              <a class="navbar-item" href="/">
                  <figure class="icon is-1by1">
                      <img src="https://tutopoint-img-bucket.s3-us-west-2.amazonaws.com/tutologo.png" alt="tutopoint"
                          width="330px" height="330px">
                  </figure>
                  tutopoint
              </a>
          </div>
          <div class="navbar-menu">
              <div class="navbar-end">
                  <a class="navbar-item" href="/guides" style="margin-right: 6%; font-size: 20px;">our guides</a>
                  <a class="navbar-item" href="/about" style="margin-right: 6%; font-size: 20px;">about us</a>
                  <a class="navbar-item" href="/mission" style="margin-right: 6%; font-size: 20px;">mission</a>
                  <button onclick="show('registerModal')" class="button is-danger is-rounded top-button"
                      href="/signup" style="margin: 12px 8px 12px 8px;">sign up</button>
                  <button onclick="show('loginModal')" class="button is-danger is-rounded top-button" href="/login"
                      style="margin: 12px 20% 12px 8px;">log in</button>
              </div>
          </div>
      </div>
  </nav>

  <section>
    <div class="container ">
      <h1 id="mission" class="is-size-1 has-text-centered has-text-weight-bold has-text-grey-darker"
        style="margin-top: 1em; margin-bottom: 1em;"> Our mission </h1>
      <p class="has-text-justified is-size-5"> TutoPoint’s mission is to bridge the gap between college and high school
        students. What actually happens inside the classrooms, the dorms, and the cafeteria of top American universities
        remains largely unknown to prospective students. That is why our guides are 100% current, real time college
        students. Sessions with our guides help open the once closed doors of prestigious American universities and
        allows clients to peak into what life is like as a college student. In fact, most of the sessions scheduled with
        our guides take place in between their classes!
        <br> Our guides span all top American Universities (Harvard, Yale, Princeton, etc) and study a wide range of
        currently popular majors (Computer Science, Biology, Chemistry, Economics, etc). Beyond college consulting and
        questions about applying to these prestigious universities, our sessions offer a warm, welcoming and completely
        stress-free environment to engage in conversation about all aspects of college life.
        <br> At TutoPoint, you will feel at home at your dream university before you even arrive. </p>
    </div>
  </section>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script type="text/javascript" src="/js/index.js"></script>

  <script type="text/javascript">
      function hideModal() {
          loginModal.classList.remove("is-active");
          registerModal.classList.remove("is-active");
      }
      function show(id) {
          hideModal();
          let modal = document.getElementById(id);
          modal.classList.add("is-active");
      }
  </script>
</body>
<footer class="footer" style="padding-bottom: 1em !important; margin: 20% 0 0 0;">
    <div class="content has-text-centered">
        <p>
            Have any questions? Email <span> <a href="mailto:zizcheng@berkeley.edu?subject=About%20Tutopoint"
                    target="_top">zizcheng@berkeley.edu</a> </span>
        </p>
        <p> Made with love by Jason, Titor, and Ziz. </p>
    </div>

</footer>
</html>
