<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>About Us</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/css/bulma.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
  <link rel="stylesheet" href="/css/aboutUs.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"/>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>

  <!-- MODALS -->

      <!--
      login modal
      use JS to toggle the is-active class on the div
  -->
  <div id="loginModal" class="modal">
      <div class="modal-background"></div>
      <div class="modal-content">
          <form method="post" action="/login">
              <div class="card center-items modal-card-c">
                  <h1>Login</h1>
                  <div class="field">
                      <div class="control">
                          <input class="input" name="email" type="email" placeholder="Email">
                      </div>
                  </div>
                  <div class="field">
                      <div class="control">
                          <input class="input" name="password" type="password" placeholder="Password">
                      </div>
                  </div>
                  <button type="submit" class="button">
                      <strong>Log in</strong>
                  </button>
                  <p>Don't have an account? <a onclick="show('registerModal')" class="is-primary">Sign Up</a></p>
                  <p><a onclick="show('resetModal')" class="is-primary">Forgot Password?</a></p>
          </form>
      </div>
      <button onclick="hideModal()" class="modal-close is-large" aria-label="close"></button>
  </div>
  </div>

  <!--register modal-->
  <div id="registerModal" class="modal">
      <div class="modal-background"></div>
      <div class="modal-content">
          <form method="post" action="/signup">
              <div class="card center-items modal-card-c">
                  <h1>Register</h1>
                  <div class="field">
                      <div class="control">
                          <input class="input" name="email" type="email" placeholder="Email">
                      </div>
                  </div>
                  <div class="field">
                      <div class="control">
                          <input class="input" name="name" type="text" placeholder="Name">
                      </div>
                  </div>
                  <div class="field">
                      <div class="control">
                          <input class="input" name="password" type="password" placeholder="Password">
                      </div>
                  </div>
                  <div class="field">
                      <div class="control">
                          <input class="input" name="referralCode" type="text" placeholder="Referral Code (Optional)">
                      </div>
                  </div>
                  <input class="input" type="hidden" name="userType" value="client">
                  <button class="button">
                      <strong>Register</strong>
                  </button>
          </form>
          <p>Already have an account? <a onClick="show('loginModal')" class="is-primary">Log in</a></p>
      </div>
      <button onclick="hideModal()" class="modal-close is-large" aria-label="close"></button>
  </div>
  </div>

  <!--reset password modal-->
  <div id="resetModal" class="modal">
      <div class="modal-background"></div>
      <div class="modal-content">
          <div class="card center-items modal-card-c">
              <h1>reset password</h1>
              <form method="post" action="/reset">
                  <div class="field">
                      <label class="label">Please enter your email</label>
                      <div class="control">
                          <input class="input" name="email" placeholder="email">
                      </div>
                  </div>
                  <input class="input" type="hidden" name="userType" value="client">
                  <button type="submit" class="button">
                      <strong>submit</strong>
                  </button>
                  </a>
              </form>
              <p><a onClick="show('loginModal')" class="link">back to login</a></p>
          </div>
          <button onclick="hideModal()" class="modal-close is-large" aria-label="close"></button>
      </div>
  </div>
  <div class="custom-container">

      <!--nav bar-->
      <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
              <a class="navbar-item" href="/">
                  <img src="/images/logo.png">
              </a>

              <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                  data-target="navbarBasicExample">
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
              </a>
          </div>

          <div id="navbarBasicExample" class="navbar-menu is-active">
              <div class="navbar-end">
                  <div class="navbar-item">
                      <a class="nav-link" href="/guides">
                          Our Guides
                      </a>
                  </div>
                  <div class="navbar-item">
                      <a class="nav-link" href="/about">
                          About Us
                      </a>
                  </div>
                  <div class="navbar-item">
                      <a class="nav-link" href="/mission">
                          Mission
                      </a>
                  </div>
                  <div class="navbar-item">
                      <div class="buttons">
                          <a onClick="show('registerModal')" class="button is-medium">
                              <strong>Sign up</strong>
                          </a>
                          <a onClick="show('loginModal')" class="button is-medium">
                              <strong>Login</strong>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </nav>


  </div>

  <section>
    <div class="container ">
      <h1 id="mission" class="is-size-1 has-text-centered has-text-weight-bold has-text-grey-darker"
        style="margin-top: 1em; margin-bottom: 1em;"> Our mission </h1>
      <p class="has-text-justified is-size-5"> TutoPoint’s mission is to bridge the gap between college and high school
        students. What actually happens inside the classrooms, the dorms, and the cafeteria of top American universities
        remains largely unknown to prospective students. That is why our guides are 100% current, real time college
        students. Sessions with our guides help open the once closed doors of prestigious American universities and
        allows clients to peak into what life is like as a college student. In fact, most of the sessions scheduled with
        our guides take place in between their classes!
        <br> Our guides span all top American Universities (Harvard, Yale, Princeton, etc) and study a wide range of
        currently popular majors (Computer Science, Biology, Chemistry, Economics, etc). Beyond college consulting and
        questions about applying to these prestigious universities, our sessions offer a warm, welcoming and completely
        stress-free environment to engage in conversation about all aspects of college life.
        <br> At TutoPoint, you will feel at home at your dream university before you even arrive. </p>
    </div>
  </section>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script type="text/javascript" src="/js/index.js"></script>
</body>
<footer class="footer" style="padding-bottom: 1em !important; margin: 20% 0 0 0;">
    <div class="content has-text-centered">
        <p>
            Have any questions? Email <span> <a href="mailto:zizcheng@berkeley.edu?subject=About%20Tutopoint"
                    target="_top">zizcheng@berkeley.edu</a> </span>
        </p>
        <p> Made with love by Jason, Titor, and Ziz. </p>
    </div>

</footer>
</html>
