<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Our Guides</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/css/bulma.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"/>
</head>
<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <figure class="icon is-1by1">
          <img src="https://tutopoint-img-bucket.s3-us-west-2.amazonaws.com/tutologo.png" alt="TUTOPOINT" width="330px"
            height="330px">
        </figure>
        TUTOPOINT
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="/guides" style="margin-right: 6%; font-size: 20px;">Our Guides</a>
        <a class="navbar-item" href="/about" style="margin-right: 6%; font-size: 20px;">About Us</a>
        <a class="navbar-item" href="/mission" style="margin-right: 6%; font-size: 20px;">Mission</a>
        <button class="button is-danger is-rounded top-button" href="/signup" style="margin: 12px 8px 12px 8px;">Sign up</button>
        <button class="button is-danger is-rounded top-button" href="/login" style="margin: 12px 20% 12px 8px;">Log in</button>
      </div>
    </div>
  </div>
  </nav>

  <section>
    <div class="container ">
      some guide stuff here ziz will work on later
    </div>
  </section>
  <section>
    <div class="container ">
      <h1 id="howitworks" class="is-size-1 has-text-centered has-text-weight-bold has-text-grey-darker"
        style="margin-top: 1em; margin-bottom: 1em;"> How it works </h1>
      <p class="has-text-justified is-size-5"> TutoPoint sessions are focused on being as stress free as possible. When
        you register, you can choose from our wide team of guides and pick any that you want to talk to. When you
        schedule a time, the guide has 24 hours to confirm your session. Once our guide confirms the session, you may
        cancel it or reschedule anytime until 24 hours before the session begins.
        <br> Since a big problem with traditional college consulting is paying for more than you need, here at
        TutoPoint, you pay as you go. You only schedule a start time, how long you talk for is all up to you and the
        guide from there. The first 5 minutes with any guide is free, so you can have some breathing room and make sure
        you like the college student. From there, every 15 minutes we will charge $15 from your balance to pay our
        guides providing this service.
        <br> Fill up your balance any time instantly and schedule right away, our guides await you!</p>
    </div>
  </section>
</body>

</html>
