<html>
  <head>
    <link rel="stylesheet" href="/css/bulma.css">
    <link rel="stylesheet" href="/css/signup.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="form-content">
        <h3 class="title login-title has-text-centered">Your call has ended.</h3>
        <div class="has-text-centered">
          <a class="has-text-centered is-size-6" href="/dashboard"> Back to Dashboard </a>
        </div>
      </div>
    </div>
  </body>
</html>
