<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/bulma.css">
    <link rel="stylesheet" href="/css/login.css">
    <script src="/js/qrcode.min.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>

    <div class="wrapper">
      Copy this code and share with everyone.
      <input type="text" value="https://tutopoint.com/signup?referral={{code}}">
      <div id="QRDisplay"></div>
    </div>
    <script>
      new QRCode(document.getElementById("QRDisplay"), 'https://tutopoint.com/signup?referral={{code}}');
    </script>
  </body>
</html>
