<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link rel="stylesheet" href="/css/sessionStyle.css">
    <link rel="stylesheet" href="/css/bulma.min.css">


    <script src="https://kit.fontawesome.com/ec65ba9ed4.js" crossorigin="anonymous"></script>

    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  </head>
  <body>
    <div id="stats" style="position: absolute;z-index: 100;top: 95vh;left: 2em;">

    </div>
    <div id="settingsOverlay" class="is-hidden" style="height: 100%;width: 100%;position: fixed;background-color: rgba(0,0,0,0.5);top: 0;left: 0;right: 0;bottom: 0;z-index: 35;">
<div class="card" style="margin-top: 25%;width: 20vw;margin-left: auto;margin-right: auto;margin-bottom: auto;">
                  <header class="card-header">
                  <p class="card-header-title">
                    Settings
                  </p>
                  <a href="#" class="card-header-icon" aria-label="more options">
                    <span class="icon">
                      <i id="closeSettingButton" class="fas fa-times" aria-hidden="true"></i>
                    </span>
                  </a>
                </header>
            <div class="card-content">
              
              <div class="control">
                <label class="label">Camera</label>
          <div class="select is-fullwidth">
            <select id="cameraOptions">

            </select>
          </div>
        </div>
              <div class="control">
                <label class="label">Audio</label>
          <div class="select is-fullwidth">
            <select id="audioOptions">
            </select>
          </div>
        </div>
        <div class="field" style="margin-top: .5em;">
            <div class="control">
          <button id="saveSettings" class="button is-primary">Save</button>
        </div>
              
        </div>
        
          </div>
          
          
          </div>                


</div>
    <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-start" style="margin-top: .5em; margin-left: 5px;">
              <p class="control has-icons-left">
                          <a id="settingsButton" class="button is-success">
                            Settings
                          </a>
            </div>

            <div class="navbar-end " style="margin-top: .5em; margin-right: 5px;">
                <div class="callButtons">
                    <div class="field is-grouped is-grouped-right">
                        <p class="control has-icons-left">
                          <a id="startButton" class="button is-success">
                            <span class="icon is-small is-left"><i class="fas fa-phone-alt"></i></span> <span>&nbsp;&nbsp;Start Session</span>
                          </a>

                        </p>
                        <p class="control has-icons-left">
                          <a id="reconnectButton" class="button is-success">
                            <span class="icon is-small is-left"><i class="fas fa-plug"></i></span> <span>&nbsp;&nbsp;Reconnect</span>
                          </a>
                        <p class="control has-icons-left">
                          <a id="streamDisplayButton" class="button is-success">
                            <span class="icon is-small is-left"><i class="fas fa-tv"></i></span> <span>&nbsp;&nbsp;Share screen</span>
                          </a>

                        </p>
                        <p class="control has-icons-left">
                          <a id="deafenButton" class="button is-success">
                            <span class="icon is-small is-left"><i class="fas fa-microphone-slash"></i></span> <span>&nbsp;&nbsp;Deafen</span>
                          </a>

                        </p>
                        <p class="control has-icons-left">
                          <a id="muteButton" class="button is-success">
                            <span class="icon is-small is-left"><i class="fas fa-microphone-slash"></i></span> <span>&nbsp;&nbsp;Mute</span>
                          </a>

                        </p>
                        <p class="control has-icons-left">
                          <a id="hideButton" class="button is-success">
                            <span class="icon is-small is-left"><i class="fas fa-eye-slash"></i></span> <span>&nbsp;&nbsp;Hide video</span>
                          </a>

                        </p>
                        <p class="control">
                            <div id="endButton" class="buttons has-addons">
                                <button class="button is-danger is-selected">End</button>
                                <button id="timerDisplay" class="button is-dark">0:00</button>
                              </div>

                          </p>
                      </div>
                </div>
            </div>
          </div>
      </nav>
    <div class="fullheight container is-fluid">
        <div id="notification">
        </div>
        <div class="fullheight columns">
            <div class="column is-one-third" style="margin: 2em;">
              <div id="editor">
                <p>You can take notes here.</p>
                </div>
            </div>

            <div class="column is-two-thirds">
              <div id="remoteVideoContainer" >
                <video class="video" id="remoteVideo" style="width: 100%;">
                  <p class="buttons">
                  <button class="button">
                    <span class="icon is-small">
                      <i class="fas fa-bold"></i>
                    </span>
                  </button>
                  <button class="button">
                    <span class="icon is-small">
                      <i class="fas fa-bold"></i>
                    </span>
                  </button>
                </p>
                </video>
                <
              </div>
              <div id="localVideoContainer" >
                <video class="video" id="localVideo">
                </video>

              </div>
            </div>
          </div>
    </div>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script> var sessionid = "{{sessionid}}";</script>
    <script src="/js/bundle.js"></script>
  </body>
</html>
