<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/bulma.css">
    <link rel="stylesheet" href="/css/signup.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="form-content">
        <h3 class="title login-title">Register</h3>
        <form method="post" action="/signup">
          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input class="input" name="email" type="email">
            </div>
          </div>

          <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <input class="input" name="name" type="text">
            </div>
          </div>

          <div class="field">
            <label class="label">Password</label>
            <div class="control">
              <input class="input" name="password" type="password">
            </div>
          </div>

          <div class="field">
            <label class="label">Referral code</label>
            <div class="control">
              <input class="referralCode-input input" name="referralCode" type="text">
            </div>
            <p class="help">(Optional)</p>
          </div>

          <input class="input" type="hidden" name="userType" value="client">
          <div class="control">
            <button class="button is-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
    <script>
      var referralCode = getUrlParameter("referralCode");
      if(referralCode) $(".referralCode-input").val(referralCode);

      function getUrlParameter(Param) {
        var PageURL = window.location.search.substring(1)
        var URLVariables = PageURL.split('&')
        var ParameterName

        for (var i = 0; i < URLVariables.length; i++) {
          ParameterName = URLVariables[i].split('=');

          if (ParameterName[0] === Param) {
              return decodeURIComponent(ParameterName[1]);
          }
        }
        return false;
      };
    </script>
  </body>
</html>
