<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Summer Programs</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/css/bulma-0.6.2.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
  <link rel="stylesheet" href="/css/summer.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>

  {{> modals }}

  {{> navbar }}


  <div class="summer-links-container">
    Click one of the links to learn more about our summer programs.
    <br /><br />

    <a href="/summer/act1">ACT Class 1</a> - Online <br />
    Every Mon/Thu, 4-6PM PST &mdash; 6/22 to 7/23 (5 weeks) &mdash; $500/student <br />
    By: Victoria Hsieh &mdash; Bellevue High, 2020 &mdash; Stanford, 2024
    <br /><br />

    <a href="/summer/act2">ACT Class 2</a> - In person and Online <br />
    Every Tue/Fri, 4-6PM PST &mdash; 6/23 to 7/24 (5 weeks) &mdash; $500/student <br />
    By: Claire Zhong &mdash; Bellevue High, 2020 &mdash; University of Pennsylvania, Wharton, 2024 <br />
    ** In person and Online. Student can choose either option.
    <br /><br />

    <a href="/summer/sat">SAT</a> - Online <br />
    Every Tue/Thu, 4-6PM PST &mdash; 6/25 to 7/28 (5 weeks) &mdash; $500/student <br />
    By Arnav Khera &mdash; Bellevue High, 2019 &mdash; UW, 2023 <br />
    Arnav got a 1590 on his SAT.
    <br /><br />

    <a href="/summer/finance">Introduction to Value Investing</a> <br />
    Every Sun 2-4PM, Wed 5-7PM &mdash; 6/21 to 8/19 (9 weeks) &mdash; $900/student <br />
    By: Will Zhou &mdash; Newport High, 2018 &mdash; Claremont McKenna College, 2023
  </div>
  <script type="text/javascript" src="/js/index.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</body>
{{> footer }}
</html>
