<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="./css/bulma.css">
    <link rel="stylesheet" href="./css/login.css">
    <script src="https://js.stripe.com/v3/"></script>
    <script src="/js/qrcode.min.js"></script>
  </head>
  <body>

    <div class="wrapper">
      <div class="form-content">
        <button id="WeChatButton"> WeChat </button>
        <div id="QRDisplay"></div>
        <form action="/pay" method="post" id="payment-form">
          <div class="form-row">
            <label for="card-element">
              Confirm payment for $15 session or some
            </label>
            <div class="row">
              <label for="CreditAmount" >Credit</label>
              <input id="CreditAmount" type="text" placeholder="15" required="" name="CreditAmount">
            </div>
          </div>

          <button>Submit Payment</button>
        </form>

      </div>
    </div>
    <script>
        var stripe = Stripe('pk_test_7lBG8gut6VvygbnBDxJHYiK300GhqhqUOC');
            WeChatButton.addEventListener('click', function(){
              stripe.createSource({
              type: 'wechat',
              amount: CreditAmount.value * 100,
              currency: 'usd',
            }).then(function(result) {
              // handle result.error or result.source
              if(result.error) return;
              pollSource(result.source)
              new QRCode(document.getElementById("QRDisplay"), result.source.wechat["qr_code_url"]);
            });
        })


        function pollSource(src, timeout = 30000, interval = 500, start = null){
          const endStates = ['pending', 'canceled', 'failed', 'consumed'];
          start = start ? start : Date.now()
          stripe
            .retrieveSource({
              id: src.id,
              client_secret: src.client_secret,
            })
            .then(function(result) {
              if (endStates.includes(result.source.status) && Date.now() < start + timeout) {
                // Not done yet. Let's wait and check again.
                 setTimeout(function(){
                   pollSource(src, timeout, interval, start)
                  }, 3000);
              } else {

                if (endStates.includes(result.source.status)) {
                  // Status has not changed yet. Let's time out.
                  console.warn(new Error('Polling timed out.'));
                } else {
                  handlePaymentSource(result.source);
                }
              }
            });
        }

          function handlePaymentSource(src){
            var form = document.getElementById('payment-form');
            var hiddenInput = document.createElement('input');
            hiddenInput.setAttribute('type', 'hidden');
            hiddenInput.setAttribute('name', 'source');
            hiddenInput.setAttribute('value', src.id);
            form.appendChild(hiddenInput);

            // Submit the form
            form.submit();
          }


    </script>
  </body>
</html>
