html
{
  height: 100%;
}
body
{
  height: 100%;
}
.page-container
{
  display: flex;
  flex-direction: row;
  height: 100%;
}
.content-container
{
  min-height: 100%;
  width: auto;
  background-color: #ffffc9;
  flex: 1;
  padding: 32px;
}
.menu
{
  display: inline-block;
  padding: 8px 8px 8px 16px;
}

.grid-card-container
{
  display: flex;
  flex-direction: row;
}
.grid-card
{
  background-color: white;
  width: 30%;
  margin: 2rem auto 0 auto;
  padding: 1.5rem;
  border-radius: 3px;
  border: 1px solid #dadce0;
}

.payment-form
{
  width: 50%;
}
