html
{
  height: 100%;
}
body
{
  height: 100%;
}
.page-container
{
  display: flex;
  flex-direction: row;
  height: 100%;
}
.content-container
{
  min-height: 100%;
  width: auto;
  background-color: #ffffc9;
  flex: 1;
  padding: 32px;
}
.menu
{
  display: inline-block;
  padding: 8px 8px 8px 16px;
}

.document-card
{
  margin: 16px 0;
  padding: 8px;
}
.document-content
{

}
