@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

body {
    color: #000;
  }

.mcontainer {
    width: 80%;
    margin: auto;
}

.top-nav {
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav-shadow {
    box-shadow: 7px 2px 6px rgba(0, 0, 0, 0.16);
}


.logo {
    width: 60px;
}

.left-nav h2 {
    font-size: 30px;
}

.right-nav {
    display: flex;
    align-items: center;
}

.right-nav li {
    padding-left: 40px;
}

.right-nav li a {
    text-decoration: none;
    color: black;
    font-size: 22px;
}

.left-nav {
    display: flex;
    align-items: center;
}

.profile-pic {
    margin-top: 40px;
    width: 200px;
}

.college-pic {
    width: 200px;
    margin-top: 50px;
}

.stats {
    margin-top: 40px;
}

.stats li {
    font-family: 'Lato', sans-serif !important;
    font-size: 30px;
    line-height: 50px;
    margin-left: 60px;
}

.work {
    font-family: 'Lato', sans-serif;
}

.bold {
    font-weight: 700;
}

.light {
    font-weight: 300;
}

.bio-text {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 29px;
    margin-top: 40px;
    margin-left: 60px;
    width: 300px;
    font-size: 20px;
}

.filter-bar {
    margin-top: 50px;
    margin-right: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 7px 2px 11px rgba(0, 0, 0, 0.16);
    height: 60px;
}

.filter-left {
    display: flex;
    align-items: center;
}
.filter-left > * {
    margin-right: 34px;
}

.filter-left input {
    width: 100px;
    margin-right: px;
}

.control {

    display: flex;
    align-items: center;
}

.filter-left a {
    padding-left: 30px;
}

.filter-right {
    display: flex;
    align-items: center;
}

.filter-right a {
    padding-right: 30px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.timeslot-card {
    line-height: 31px;
    color:white;
    font-size:28px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    border-radius: 25px;
    margin-top: 20px;
    width: 200px;
    height: 120px;
    background-color: #26CAEC;
    box-shadow: 8px 11px 6px rgba(0, 0, 0, 0.16);
}

h1 {
    font-family: Lato, sans-serif;
    font-weight: 700;
    text-align: center;
}
.review-card {
    width: 500px;
    background-color: #F8F8F8;
    padding-bottom: 50px;
    margin: 50px 0;
}
.totalrating {
    margin-top: 50px;
}

.rating-name {
    margin-left: 10px;
    margin-top: 10px;
}

.review-text {
    margin-left: 10px;
}

.selected {
  background-color: lightgreen !important;
}

#confirmButton {

}
