@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");

.custom-container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

html,
body {
  height: 100%;
}

.modal-card-c {
  padding: 2em 0;
}

.modal-card-c h1,
.modal-card-c button {
  margin-bottom: 1em;
}

.navbar {
  padding: 1em 0;
}

.nav-link {
  text-decoration: none;
  font-family: "Lato", "sans-serif";
  font-weight: 300;
  color: #000;
  font-size: 1.5em;
}

.button {
  background-color: #ff3636;
  color: #fff;
  border-radius: 40px;
  border: none;
  width: 150px;
}

.button strong {
  font-family: "Lato", "sans-serif";
  font-weight: 300;
  font-size: 1.2em;
}
.bg-section {
  background-color: #f56363;
}

.display {
  margin-top: auto;
  align-items: center;
}

.center-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.motto {
  font-family: "Lato", "sans-serif";
  color: white;
  font-weight: 300;
  font-size: 2em;
  text-align: center;
  margin-bottom: 2em;
}

.card {
  border-radius: 30px;
}

.card-content {
  padding: 2em 5em;
}

.register-box-heading {
  margin-bottom: 1em;
}

h1 {
  font-family: "Lato", "sans-serif";
  font-weight: 700;
  font-size: 1.6em;
}

.display-field {
  width: 20em;
}

.carousel-title {
  margin-top: auto;
  font-family: "Lato", "sans-serif";
  font-size: 5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.carousel-card {
  margin-bottom: 1em;
}

.slick-prev:before,
.slick-next:before {
  color: lightgray !important;
}

.slick-slide {
  margin: 1em;
}

.columns:last-child {
  margin-bottom: 0;
}

.title:not(:last-child) {
  margin-bottom: 0;
}

.profilePicture {
  position: absolute !important;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.backdrop {
  filter: blur(0.5px) brightness(80%);
}

.backdrop-image {
  border-radius: 30px 30px 0 0;
}

.footer {
  margin-top: 4em;
  background-color: #f2f2f2;
}

.hidden {
  display: none;
}

.media-content {
    overflow-x: unset;
}
.what-are-you-waiting-for-container {
  padding: 1rem !important;
}

@media only screen and (max-width: 1024px) {
  .mission-text-wrapper {
    margin: 0 2rem;
  }
}
@media screen and (max-width: 600px) {
  .custom-container {
    width: 90%;
  }
  .slick-prev:before,
  .slick-next:before {
    display: none;
  }
}
