@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");


html,
body {
  height: 100%;
  font-family: "Lato", "sans-serif";
}
.navbar {
  padding: 1em 0;
}
.nav-link {
  text-decoration: none;
  font-weight: 300;
  color: #000;
  font-size: 1.5em;
}
.button {
  background-color: #ff3636;
  color: #fff;
  border-radius: 40px;
  border: none;
  width: 150px;
}
.button strong {
  font-weight: 300;
  font-size: 1.2em;
}
h1 {
  font-weight: 700;
  font-size: 1.6em;
}
.card {
  border-radius: 30px;
}
.card-content {
  padding: 2em 5em;
}


.modal-card-c {
  padding: 2em 0;
}
.modal-card-c h1,
.modal-card-c button {
  margin-bottom: 1em;
}


.bg-section {
  background-color: #f56363;
}

.display {
  margin-top: auto;
  align-items: center;
}

.center-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.motto {
  color: white;
  font-weight: 300;
  font-size: 2em;
  text-align: center;
  margin-bottom: 2em;
}


.register-box-heading {
  margin-bottom: 1em;
}


.pricing-image {
  width: 80vw;
  margin: auto;
  display: block;
}

.services-container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.services-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.service {
  margin: 1rem;
  flex: 1 1 0;
}
.service-title {
  font-weight: 700;
  font-size: 1.15rem;
}
.service-body {
  font-size: 0.75rem;
}
.tablet-break {
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  height: 0;
  display: none;
}

.display-field {
  width: 20em;
}

.section-header {
  margin-top: auto;
  font-size: 5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}



.custom-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.carousel-wrapper {
  position: relative;
}
.carousel-card {
  margin-bottom: 1em;
}
.carousel .card-content {
  padding: 1rem;
  max-height: 300px;
  overflow-y: scroll;
}
.slick-prev, .slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 4rem;
  font-weight: 0;
  cursor: pointer;
}
.slick-prev {
  left: -40px;
}
.slick-next {
  right: -40px;
}
.slick-slide {
  margin: 1em;
}
.columns:last-child {
  margin-bottom: 0;
}
.title:not(:last-child) {
  margin-bottom: 0;
}
.profilePicture {
  position: absolute !important;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.backdrop {
  filter: blur(0.5px) brightness(80%);
}
.backdrop-image {
  border-radius: 30px 30px 0 0;
}
.guide-bio {
  margin-top: 1rem;
}
.footer {
  margin-top: 4em;
  background-color: #f2f2f2;
}


.hidden {
  display: none;
}

.what-are-you-waiting-for-container {
  padding: 1rem !important;
}


@media only screen and (max-width: 1300px) {
  .services-container {
    width: 80%;
  }
}
@media only screen and (max-width: 1024px) {
  .mission-text-wrapper {
    margin: 0 2rem;
  }
  .services-container {
    width: 90%;
  }
}
@media only screen and (max-width: 960px) {
  .tablet-break {
    display: block;
  }
  .services-container {
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  .services-wrapper {
    flex-direction: column;
  }
  .services-wrapper {
    width: 40%;
    margin: 0 auto;
    min-width: 300px;
  }
  .custom-container {
    width: 90%;
  }
}
