.calendar-date
{
  padding: 10px;
}
.calendar-real-date
{
  border: 1px solid black;
}

.day-container
{
  position: relative;
  overflow-x: scroll;
  overflow-y: visible;
  display: none;
  padding: 4rem 0 0 0;
}
.day-wrapper
{
  height: 4000px;
  width: 400px;
  margin: 0;
  position: relative;
}
.day
{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #bbddff;
}
.time
{
  display: inline-block;
  border: 1px solid black;
  padding: 5px;
}
.interval
{
  position: absolute;
  width: 100%;
  background-color: orange;
}
.interval-label
{
  position: absolute;
}
.remove-interval
{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.cursor
{
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-color: red;
  z-index: 1;
  pointer-events: none;
}
.cursor-text
{
  position: absolute;
  right: -60px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  border: 1px solid black;
  padding: 0.25rem 0.5rem;
}
