
.page-container
{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content-container
{
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
}
.left-container
{
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
.right-container
{
  flex: 1;
  padding-right: 2rem;
}


/* CALENDAR */
.calendar-container
{
  display: inline-block;
  align-self: flex-start;
}
.calendar-arrow-container
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.calendar-arrow
{
  font-size: 2rem;
}
.calendar-day-label
{
  text-align: center !important;
}
.calendar-date
{
  padding: 6px 8px;
  text-align: center !important;
}
.calendar-row
{
  cursor: pointer;
}
.calendar-row:hover
{
  background-color: #ffffc9;
}
.calendar-selected-row
{
  background-color: #ffffa0;
}


/* OPTIONS */
.save-button
{
  align-self: flex-start;
}
.insert-type-wrapper
{
  display: flex;
  flex-direction: column;
  margin: 0 0 2rem 1rem;
}
.insert-type-wrapper .radio
{
  margin-left: 0.5rem;
}


/* TIMETABLE */
.timetable-wrapper
{

}
.timetable-table
{
  width: 100%;
  table-layout: fixed;
}
.timetable-day-label
{
  display: flex;
  align-items: center;
  justify-content: center;
}
.timetable-time-label
{
  display: flex;
  align-items: center;
  justify-content: center;
}
.timetable-square
{
  cursor: pointer;
}
.timetable-square:hover
{
  background-color: #ffffc9;
}
.timetable-square-available
{
  background-color: #ff6;
}
