.fullheight {
    margin: 2em;
    height: 90%;
}

#localVideo {
    width: 15vw;
    height: 15vh;
}

#localVideoContainer {
    position: fixed;
    bottom: 2em;
    right: 2em;
}

#remoteVideoContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#notification {
    position: fixed;
    top: 5em;
    left: 88vw;
    width: 10vw;
    height: 10vh;
}

body {
    height: 100vh;
}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 35;
}