.hero {
  background-color: #FFE18D;
}
.card {
  border-radius: 25px;
  margin-top: 1em;
  padding: 1em;
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.columns-wrapper {
  margin: 4rem auto;
}
.column {
  margin: 0 auto;
}
