.menu-list li {
    font-weight: bold;
}


#profilePicture {
    padding-right: 1em;
    align-items: center;
}

#paymentSuccess {
    display: flex;
    flex-direction: column;
}
@media only screen and (min-width: 768px)  {
    .navbar {
        padding-bottom: 1.25em;
    }

}

@media only screen and (min-width: 1024px) {
    .menu-list a {
        padding-left: 0;
    }
}

.introjs-relativePosition > td { position: relative; }
.introjs-showElement > td { z-index: 9999999 !important; }