#appointments .card-header-icon {
    padding-left: 0px !important;
}

#appointments {
    border-radius: 25px;
    min-height: 50rem;
}

#appointments .media {
    padding: 1.25em;
    border-radius: 24px;
}


.appointments-no-upcoming-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
}
.appointments-book-now {
  color: #F56363;
}
