#appointments .card-header-icon {
    padding-left: 0px !important;
}

#appointments {
    border-radius: 25px;
    min-height: 50rem;
}

#appointments .media {  
    padding: 1.25em;
    border-radius: 24px;
    align-items: center;
}

.content {
    margin: 0px !important;
}