@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma-o-steps/bulma-steps.sass";


#Balance {
  .card {
    border-radius: 24px;
    min-height: 90vh;
  }

  .columns {
    justify-content: space-around;
  }
}

#Balance__FormContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1em;
  height: 60vh;
}

#Balance__Control {
  justify-content: space-around;

  .button {
    margin-top: 1em;
    border-radius: 11px;
  }
}

#Balance__Form {
  margin-top: 3em;
  p {
    font-weight: bold;
    font-size: 1.5em;

    &.footnote {
      font-size: 12px;
      font-weight: 100;
      flex-grow: 3;
      text-align: center;
      padding-top: .5em;
      text-align:center !important;
      width: 100%;
    }
  }
  .input {
    border-radius: 18px;
    box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px,
      rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
    border: 0px;
  }
  .input {
    border-radius: 18px;
    box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px,
      rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
    border: 0px;
  }

  select {
    box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px,
      rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  }

  .field:not(.Balance__FormConfirmation) {
    justify-content: center;
    flex-wrap: wrap;
    p:not(.Balance__FormConfirmation) {
      text-align: right;
    }
    select {
      color: #646464 !important;
  }
  }

  .field {
    column-gap: 2em;
    justify-content: center;
  }
}

#Balance__Summary {
  .card-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    .Balance__SummaryContainer {
      flex-basis: 10em;
      background-color: #f9f9f9;
    }
  }

  .button {
    flex-basis: 2em;
    border-radius: 11px;
    margin-top: 2em;

    span {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@include touch {
  @include steps-all-segments {
    flex-grow: 0;
    
  }

  #Balance__FormContainer {
    height: 25em;
  }
}

.overlay {
  .overlay-center {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;


  .card {
    padding: 8em;
    background-color: #18c979;
    min-height: 0 !important;
  }
  }
}

input,
.StripeElement {
  display: block;
  width: 20em;
  padding: 10px 14px;
  font-size: 1em;
  font-family: "Lato";
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px,
    rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border: 0;
  outline: 0;
  border-radius: 18px;
  background: white;
}


.shake-horizontal {
	-webkit-animation: shake-horizontal 0.5s steps(30, end) ;
	        animation: shake-horizontal 0.5s steps(30, end) ;
}

 @-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}
