#dashboard__discoverGuide {
  border-radius: 25px;
}

.card-header {
  box-shadow: none !important;
}

.dashboard__discoverGuideCarousel {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
}

.dashboard__discoverGuide_Item {
  flex-basis: 27rem;
  margin-top: 12px;
  margin-left: 12px;

  & .media {
    display: flex;
    justify-content: space-between;
  }
}

#dashboard__bottomPreview {
  padding-top: 2em;
}

#dashboard__bottomPreview .card {
  border-radius: 25px;
  min-height: 25rem;
}

#dashboard__bottomPreview #appointments .card-content {
  overflow-y: auto;
  max-height: 30rem;
}
