@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');
@import url('https://cdn.quilljs.com/1.3.6/quill.snow.css');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/*
outer layout
*/
.document-container {
  padding: 1.5rem;
  font-family: "Lato", sans-serif;
  color: #646464;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0 3px 6px 0 #D6D6D6;
  display: inline-block;
}
.document-list {
  width: 1200px;
  @media screen and (max-width: 1800px) {
    width: 1000px;
  }
  @media screen and (max-width: 1500px) {
    width: 800px;
  }
  @media screen and (max-width: 1250px) {
    width: 600px;
  }
  @media screen and (max-width: 700px) {
    width: 400px;
  }
}
.document-wrapper {
  display: inline-flex;
  flex-direction: column;
}
.document-container-top
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 0.5rem; //must match with document-card-wrapper right padding
}
.document-card-wrapper {
  display: inline-block;
  padding: 0.5rem;
  width: 200px;
}

/*
top
*/
.document-header {
  font-size: 1.25rem;
}
.document-new
{
  cursor: pointer;
  background-color: #F56363;
  border-radius: 16px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.document-new-plus {
  font-size: 28px;
  color: white;
}

/*
document card
*/
.document-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #f9f9f9;
}
.quill-viewer {
  font-size: 5px;
  height: 12rem;
  border: none !important;
}

.document-card-bottom {
  display: flex;
  flex-direction: column;
  padding: 12px;
  background-color: #f9f9f9;
}
.document-title {
  font-size: 0.75rem;
  font-weight: 700;
  cursor: pointer;
}
.document-card-bottom-bottom {
  display: flex;
  flex-direction: row;
}
.document-date {
  font-size: 0.75rem;
  font-weight: 0;
}
.document-delete {
  font-size: 0.75rem;
  margin-left: auto;
  cursor: pointer;
}

/*
document edit
*/
.document-edit-wrapper {
  background-color: white;
}
#quill-editor {
  height: 80vh;
}

/*
document compact list
*/
.document-compact-entry-container
{
  display: flex;
  padding: 6px;
  margin: 2px;
  font-size: 0.75rem;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  border-radius: 1000px;
  background-color: #f9f9f9;
  cursor: pointer;
}
#select-document-popup .modal-content
{
  width: 70vw;
}
