@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');
@import url('https://cdn.quilljs.com/1.3.6/quill.snow.css');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/*
outer
*/
.document-container {

}
.document-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0 3px 6px 0 #D6D6D6;
  font-family: "Lato", sans-serif;
}
.document-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*
document card
*/
.document-card-wrapper {
  padding: 0.5rem;
  flex-basis: 160px;
  flex-grow: 0;
  flex-shrink: 0;
}
.document-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #f9f9f9;
}
.quill-viewer {
  font-size: 0.25rem;
  height: 12rem;
  border: none !important;
}

.document-card-bottom {
  display: flex;
  flex-direction: column;
  padding: 12px;
  background-color: #f9f9f9;
}
.document-title {
  font-size: 0.75rem;
  font-weight: 700;
}
.document-card-bottom-bottom {
  display: flex;
  flex-direction: row;
}
.document-date {
  font-size: 0.75rem;
  font-weight: 0;
}
.document-delete {
  font-size: 0.75rem;
  margin-left: auto;
}
