.tile.is-ancestor {
    height: 100%;
}

.ql-container {
    height: unset;
}

#remote {
    margin:auto;
    display: block;
}

#local {
    max-width: 192px;
    max-height: 192px;
    position: absolute;
    bottom: 2em;
    right: 2em;
    border-radius: 24px;
}

.videoContainer {
    position: relative;
}